@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Light.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Regular.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Medium.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-SemiBold.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Bold.ttf");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 900;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProText-Heavy.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 100;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Ultralight.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 200;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Thin.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 300;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Light.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 400;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Regular.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 500;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Medium.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 600;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-SemiBold.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 700;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Bold.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 800;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Black.ttf");
}
@font-face {
  font-family: "SF Pro Display";
  font-style: normal;
  font-weight: 900;
  src: url("https://raw.githubusercontent.com/blaisck/sfwin/master/SFPro/TrueType/SFProDisplay-Heavy.ttf");
}

:root {
  --bg-color: #f7f7f7;
  --text-color: #000000;
  --cont-color: #9f9f9f;
  --brighter-cont: #f0f0f0;
}

html[data-theme="dark"] {
  --bg-color: #101010;
  --text-color: #ffffff;
  --cont-color: #272727;
  --brighter-cont: #474747;
}

html[data-theme="evil"] {
  --bg-color: #1a0000;
  --text-color: #ff3333;
  --cont-color: #4d0000;
  --brighter-cont: #9a0000;
}

html[data-theme="forest"] {
  --bg-color: #0d1a0d;
  --text-color: #66cc66;
  --cont-color: #1a331a;
  --brighter-cont: #286b28;
}

html[data-theme="sand"] {
  --bg-color: #fffdce;
  --text-color: #683d00;
  --cont-color: #fff599;
  --brighter-cont: #ffefad;
}

body {
  font-family: "SF Pro Display";
  background: var(--bg-color);
  color: var(--text-color);
  margin: 0;
  padding: 0;
}

.topbar {
  font-family: "SF Pro Display";
  background-color: var(--cont-color);
  color: var(--text-color);
}

.custom-dropdown {
  font-family: "SF Pro Display";
  position: relative;
  cursor: pointer;
  padding: 5px 10px;
  background: var(--brighter-cont);
  color: var(--text-color);
  border: 0;
  border-radius: 16px;
}

.dropdown-options {
  font-family: "SF Pro Display";
  color: var(--text-color);
  display: none;
  position: absolute;
  z-index: 999;
  background: var(--brighter-cont);
  border: 0;
  border-radius: 16px;
}

.dropdown-options.open {
  display: block; 
}

.dropdown-option {
  font-family: "SF Pro Display";
  padding: 5px 10px;
  background: transparent;
  border: 0;
  transition: ease;
  color: var(--text-color);
}

.dropdown-option:hover {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px) brightness(110%);
  transform: scale(1.01);
}