body {
    background: linear-gradient(#e0e0e0, #fff, #e0e0e0);
    background-repeat: initial;
    text-align: center;
    min-height: 100%;
}
html {
    min-height: 100%; /* I don't know why this works. But it does. It's also the only way for it to work.*/
}
.divider {
  max-height: 2px;
  min-height: 2px;
  height: 2px;
  background-color: #bdbdbd;
  margin: 5mm;
}
.text {
    font-family: "Arial", sans-serif;
    text-shadow: 0.5mm;
    font-size: 7mm;
    color: #333333;
}
.leftButton {
    padding: 7mm;
    border-color: #e0e0e0;
    border-width: 1mm;
    border-top-left-radius: 5mm;
    border-bottom-left-radius: 5mm;
    font-family: "Arial", sans-serif;
    text-shadow: 0.5mm;
    font-size: 5mm;
    color: #333333;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.middleButton {
    padding: 7mm;
    border-color: #e0e0e0;
    border-width: 1mm;
    font-family: "Arial", sans-serif;
    text-shadow: 0.5mm;
    font-size: 5mm;
    color: #333333;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.rightButton {
    padding: 7mm;
    border-color: #e0e0e0;
    border-width: 1mm;
    border-top-right-radius: 5mm;
    border-bottom-right-radius: 5mm;
    font-family: "Arial", sans-serif;
    text-shadow: 0.5mm;
    font-size: 5mm;
    color: #333333;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.fullButton {
    padding: 7mm;
    border-color: #e0e0e0;
    border-width: 1mm;
    border-radius: 5mm;
    font-family: "Arial", sans-serif;
    text-shadow: 0.5mm;
    font-size: 5mm;
    color: #333333;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.headingImg {
    width: 100%;
    max-width: 50vw;
    height: auto;
    image-rendering: pixelated;
}
iframe {
    width: 95vw;
    height: 90vh;
}
h1 {
    font-family: "Arial", sans-serif;
    text-shadow: 0.5mm;
    font-size: 1.5cm;
    color: #333333;
}
input {
    font-family: "Arial", sans-serif;
    text-shadow: 0.5mm;
    font-size: 7mm;
    color: #333333;
    display: block;
    width: 30vw;
    aspect-ratio: 5 / 1;
    margin: 0 auto 1em;
    border-radius: 5mm;
}
.topbar {
    width: 100%;
    font-family: "Arial", sans-serif;
    text-shadow: 0.5mm;
    font-size: 7mm;
    text-align: center;
    color: #ffffff;
    height: 1cm;
    background-color: rgb(0, 0, 0);
    position: fixed
}
.menubar {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap; /* Prevents stacking */
}
.menubarbuttonleft {
    justify-content: center;
    max-width: 5cm;
  flex: 1 1 auto; /* Allows shrinking and growing */
  min-width: 0; /* Important: Allows element to shrink below its content size */
    padding: 7mm;
    border-color: #e0e0e0;
    border-width: 1mm;
    border-top-left-radius: 5mm;
    border-bottom-left-radius: 5mm;
    font-family: "Arial", sans-serif;
    text-shadow: 0.5mm;
    font-size: 5mm;
    color: #333333;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menubarbuttonmiddle {
    justify-content: center;
    max-width: 5cm;
  flex: 1 1 auto; /* Allows shrinking and growing */
  min-width: 0; /* Important: Allows element to shrink below its content size */
    padding: 7mm;
    border-color: #e0e0e0;
    border-width: 1mm;
    font-family: "Arial", sans-serif;
    text-shadow: 0.5mm;
    font-size: 5mm;
    color: #333333;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.menubarbuttonright {
    max-width: 5cm;
    justify-content: center;
  flex: 1 1 auto; /* Allows shrinking and growing */
  min-width: 0; /* Important: Allows element to shrink below its content size */
    padding: 7mm;
    border-color: #e0e0e0;
    border-width: 1mm;
    border-top-right-radius: 5mm;
    border-bottom-right-radius: 5mm;
    font-family: "Arial", sans-serif;
    text-shadow: 0.5mm;
    font-size: 5mm;
    color: #333333;
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);

}
.customemoji {
    width: 7mm;
    height: 7mm;
    padding-left: 3%;
    padding-right: 3%;
}


.middleButton:hover {
  transform: scale(1.1);
}
.rightButton:hover {
  transform: scale(1.1);
}
.leftButton:hover {
  transform: scale(1.1);
}
.fullButton:hover {
  transform: scale(1.1);
}
.menubarbuttonleft:hover {
  transform: scale(1.1);
}
.menubarbuttonright:hover {
  transform: scale(1.1);
}
.menubarbuttonmiddle:hover {
  transform: scale(1.1);
}
.middleButton:active {
  transform: scale(0.9) rotate(-2deg);
}
.rightButton:active {
  transform: scale(0.9) rotate(-2deg);
}
.leftButton:active {
  transform: scale(0.9) rotate(-2deg);
}
.fullButton:active {
  transform: scale(0.9) rotate(-2deg);
}
.menubarbuttonleft:active {
  transform: scale(0.9) rotate(-2deg);
}
.menubarbuttonright:active {
  transform: scale(0.9) rotate(-2deg);
}
.menubarbuttonmiddle:active {
  transform: scale(0.9) rotate(-2deg);
}